/*buttons*/

.button1 {
    position: relative;
    background-color: #2E2E2E;
    border: none;
    font-size: 28px;
    color: #F7F8E0;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button1:after {
    content: "";
    background: #2E2E2E;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s

}

.button1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    list-style: none;

    transition: 0s
}



li{
    list-style: none;
}

ul li a button{
    width: 180px;
    float: left;
    display: block;
}

.button2{
    float: left;
    display: block;
    text-align: center;
    margin-left: 60px;
}

.button3{
    float: left;
    display: block;
    text-align: center;
    margin-left: 60px;
}

.button4{
    /*float: left;*/
    display: block;
    text-align: center;
    margin-left: 550px;
    margin-top: -60px;
}

.button5{
    /*float: left;*/
    display: block;
    text-align: center;
    margin-left: 550px;
}

.button6{
    float: left;
    display: block;
    text-align: center;
    margin-left: 1150px;
    margin-top: -100px;
}

.button7{
    float: left;
    display: block;
    text-align: center;
    margin-left: 1150px;
    margin-top: -80px;
}

.button8{
    float: left;
    display: block;
    text-align: center;
    margin-left: 1650px;
    margin-top: -181px;
}

@media screen and (max-width: 1600px)
{
    .button2{
        float: left;
        display: block;
        text-align: center;
        margin-left: 5%;
    }

    .button3{
        float: left;
        display: block;
        text-align: center;
        margin-left: 5%;
    }

    .button4{
        /*float: left;*/
        display: block;
        text-align: center;
        margin-left: 25%;
        margin-top: -60px;
    }

    .button5{
        /*float: left;*/
        display: block;
        text-align: center;
        margin-left: 25%;
    }

    .button6{
        float: left;
        display: block;
        text-align: center;
        margin-left: 47%;
        margin-top: -100px;
    }

    .button7{
        float: left;
        display: block;
        text-align: center;
        margin-left: 47%;
        margin-top: -80px;
    }

    .button8{
        float: left;
        display: block;
        text-align: center;
        margin-left: 65%;
        margin-top: -181px;
    }

    .button1 {
        position: relative;
        background-color: #2E2E2E;
        border: none;
        font-size: 28px;
        color: #F7F8E0;
        padding: 20px;
        width: 200px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }

    .button1:after {
        content: "";
        background: #2E2E2E;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s

    }

    .button1:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        list-style: none;

        transition: 0s
    }



    li{
        list-style: none;
    }

    ul li a button{
        width: 180px;
        float: left;
        display: block;
    }
}

