/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 déc. 2018, 16:01:57
    Author     : Guillaume
*/
/* Nouveau Carousel */

/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

div#carousel {
    perspective: 1200px;
    padding-top: 5%;
    font-size: 0;
    margin-bottom: 3rem;
}

figure#spinner {
    transform-style: preserve-3d;
    height: 300px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50% -1000px;
    transition: 1s;
}

figure#spinner figure {
    width: 40%;
    max-width: 600px;
    position: absolute;
    left: 28%;
    transform-origin: 50% 50% -1000px;
    outline: 1px solid transparent;
    overflow: hidden;
    transition: 1s;
}

figure#spinner figure.focus {
    width: 26%;
    left: 37%;
    margin-top: -3rem;
}

figure#spinner figure img {
    width: 100%;
}

figcaption {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: .3rem;
    z-index: 2;
    font-size: 1.8rem;
    background: rgba(0, 0, 0, 0);
    transition: .6s;
    color: white;
    text-align: center;
}

figure#spinner figure.current:hover figcaption,
figure#spinner figure.current.caption figcaption {
    top: 90%;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
}

div#carousel ~ span {
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0;
}

div#carousel ~ span:hover {
    color: #888;
    cursor: pointer;
}






/*Ancien Carousel
.transition-timer-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: left;
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
    margin-top: 10px;
    font-size: 24px;
}

@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens
    .transition-timer-carousel .carousel-caption .carousel-caption-header {
        font-size: 36px;
    }
}
.transition-timer-carousel .carousel-indicators {
    bottom: 0px;
    margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
    z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time
    -webkit-transition: width 4.25s linear;
    -moz-transition: width 4.25s linear;
    -o-transition: width 4.25s linear;
    transition: width 4.25s linear;
}*/